includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - rules.neon
parameters:
    bootstrapFiles:
        - tests/stubs.php
    tmpDir: tmp
    level: 1
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    excludePaths:
        - tmp/*
        - node_modules/*
        - bin/*
        - languages/*
        - vendor/*
    paths:
        - src
        - tests
