/*!
 * Brisko CSS (https://wpbrisko.com/)
 * Copyright 2020 Uriel Wilson
 * @link https://github.com/devuri/brisko
 * License: GNU General Public License v2.0 (https://github.com/devuri/brisko/blob/master/LICENSE)
 */

/*--------------------------------------------------------------
 # Root Variables
 --------------------------------------------------------------*/
:root {
    --primary-color: #4c4c4c;
    --secondary-color: #353535;
    --border-color: #f0f0f0;
    --light-bg-color: #ffffff;
    --button-bg-color: #000000;
    --button-hover-bg: #F8F9FA;
}

/*--------------------------------------------------------------
 # Global Styles
 --------------------------------------------------------------*/

p {
    line-height: 1.75;
    margin: 30px 0;
}

blockquote,
.wp-block-quote {
    border-left: solid 5px var(--primary-color);
    padding-left: 0.9rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    margin-left: 0.9rem;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 8px 12px;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.wp-block-image {
    margin-bottom: 1em;
    display: flow-root;
}

/*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/

.brisko-header-img {
    margin-bottom: 0;
    width: 100%;
}

.custom-logo-link {
    max-width: 260px;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.site-title {
    padding-left: 0;
}

.site-title h1 {
    margin-bottom: 0;
}

.site-description {
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    display: block;
}

.archive-title {
    font-size: large;
    padding: 0.2rem;
}

/*--------------------------------------------------------------
 # Main Width & Layout
 --------------------------------------------------------------*/

.entry-header {
    word-wrap: break-word;
    margin-top: 1rem;
}

.elementor-image-gallery .gallery {
    margin-bottom: 1.5em;
    display: inline-block;
    grid-gap: 1.5em;
}

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
}

.alignwide {
    /*max-width: var(--wp--style--global--wide-size);*/
    max-width: 90vw;
    margin-left: calc(50% - 39vw);
    margin-right: calc(50% - 39vw);
}

/*.editor-content > *:not(.alignfull) {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.editor-content > *:not(.alignfull).alignwide {
  max-width: 1400px;
}*/


/*--------------------------------------------------------------
 # Navigation
 --------------------------------------------------------------*/

.site-name {
    font-family: inherit;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 800;
}

nav.main-navigation {
    width: auto;
}

nav.main-navigation a {
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.6rem 1.2rem;
    background-color: var(--light-bg-color);
}

nav.main-navigation a:hover {
    color: var(--primary-color);
    background-color: var(--button-hover-bg);
}

nav.main-navigation ul ul a {
    border-bottom: solid thin var(--border-color);
}

.main-navigation ul ul {
    display: block;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    display: block;
    left: 100%;
}

/*--------------------------------------------------------------
 # Post
 --------------------------------------------------------------*/

.post,
.page {
    margin: 0;
}

.entry-content {
    word-wrap: break-word;
    color: var(--secondary-color);
    padding-top: 0;
}

h2.post-title a {
    text-decoration: none;
}

.post-article {
    margin-bottom: 4rem;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
    display: block;
    padding: 0.5em;
    margin-top: 1em;
}

.post-page-numbers {
    padding-left: 8px;
    padding-right: 8px;
    border: solid thin #eaeaea;
    border-radius: 2px;
}

.read-more {
    font-weight: 600;
    font-size: medium;
    letter-spacing: 0.1rem;
}

.more-link {
    padding: 0.7em 0.8em;
    border: solid thin var(--border-color);
    text-transform: lowercase;
}

.more-link::after {
    content: " \00BB";
}

.post-thumbnail {
    margin-bottom: 1rem;
}

.entry-meta {
    width: 100%;
    border: solid thin var(--border-color);
    border-left: none;
    border-right: none;
    padding: 8px;
    font-size: medium;
    color: #999;
}

.post-meta .photo,
.entry-meta .photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 4px;
}

.tags-links {
    font-size: initial;
    color: #8e8e8e;
}

.tags-links a {
    padding: 2px 8px;
    color: #767676;
    border: solid thin #eaeaea;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: small;
}

.cat-links a {
    margin-right: 4px;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
    text-transform: lowercase;
}

#menu-main-menu,
.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.post-navigation .nav-previous span,
.post-navigation .nav-next span {
    display: block;
}

.nav-title {
    word-break: break-all;
}

/*--------------------------------------------------------------
 # Comments
 --------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    margin-top: 24px;
    word-wrap: break-word;
    padding: 1rem 0;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    flex: 1 0 50%;
    word-wrap: break-word;
    border: solid thin #eaeaea;
    padding: 1rem;
}

.comment-respond {
    margin: 4rem 0;
    border: solid thin #eaeaea;
    padding: 1.75rem;
}

.comment-notes,
p.logged-in-as,
.comment-form-cookies-consent {
    font-size: medium;
    margin: 0;
}

.comment-list {
    padding: 0;
}

.comments-title {
    font-size: medium;
    padding-bottom: 1rem;
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.comment-author img {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.comment-metadata a {
    color: #c1c1c1;
}

.says {
    display: none;
}

.comment-reply-link {
    border: solid thin #eaeaea;
    padding: 0.2rem 0.5rem;
}

.comments-area ol {
    list-style: none;
}

.comment-body {
    border: solid thin var(--border-color);
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: medium;
    word-wrap: break-word;
}

ol.children {
    margin: 0;
}

div.comments-area label {
    display: inline-block;
    margin-bottom: 0;
    color: #757575;
}

div.comment-respond h3 {
    font-size: inherit;
}

span.nav-subtitle {
    color: #999;
}

/*--------------------------------------------------------------
 # Sidebar
 --------------------------------------------------------------*/

.sidebar {
    margin-left: 1rem;
    word-wrap: break-word;
}

.sidebar ul,
.sidebar ol {
    margin: 0;
    padding-inline-start: unset;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    border-bottom: solid thin var(--border-color);
    padding: 16px;
}

.widget-title {
    padding-bottom: 0.5em;
    color: black;
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
 # Input and Forms
 --------------------------------------------------------------*/

.wp-block-button__link {
    color: #ffffff;
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    color: #fff;
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: var(--button-hover-bg);
    color: var(--primary-color);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.65rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(76, 76, 76, 0.25);
}

.search-form {
    display: flex;
    align-items: baseline;
}

.search-submit {
    margin-left: 8px;
}

/*--------------------------------------------------------------
 # WooCommerce
 --------------------------------------------------------------*/

nav.woocommerce-MyAccount-navigation li {
    padding: 0.4rem;
    border-bottom: solid thin #e7ecef;
}

nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
    width: 74%;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: right;
    width: 30%;
}

/*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/

.entry-footer {
    clear: both;
}

/*--------------------------------------------------------------
 # Media Queries
 --------------------------------------------------------------*/

@media (max-width: 768px) {
    .site-name {
        font-size: 1.5rem;
    }

    .woocommerce-account .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
    }

    nav.main-navigation ul {
        flex-direction: column;
    }

    .sidebar {
        margin-left: 0;
    }

    .elementor-image-gallery .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
